/* Common styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn {
    background-color: #FF900E;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    padding: 20px 25px;
}

/* header section styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav>ul li {
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

nav>ul li a {
    text-decoration: none;
    color: black;
}

/* banner styles */
.banner-content {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 50px;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner-image {
    margin-top: 30px;
    width: 100%;
}

/* main styles  */
main {
    width: 70%;
    margin: 70px auto;
    align-items: center;
}

/* Teams section styles  */
.teams-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.teams-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding: 40px 0px 40px 40px;


}

.teams-title-QL {
    color: #727272;
    font-weight: 500;
}

.teams-title {
    color: #131313;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.teams-title-Features {
    color: #FF900E;
    font-weight: 700;
}

.teams-description {
    margin-bottom: 20px;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* Feature Section Style */
.features-container {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin: 80px 0px;

}

.features-content {
    width: 42%;
    

}

.feature-title {
    color: #131313;
    font-size: 2.3rem;
    margin-bottom: 10px;
    font-weight: 700;
}

.feature-boxes {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}
.feature-box{
    padding: 33px 20px 15px 18px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 5px 5px 10px gray;
    margin-bottom: 10px;
}

.feature-box-title {
    color: #131313;
    font-size: 18px;
    font-weight: 600;
}

.feature-box-description {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
}

.feature-description {
    color: #727272;
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.feature-image img {
    width: 100%;
}
.feature-experience-box{
    background-color: #FF900E;
    color: white;
    padding: 45px 42px 45px 42px;
    width: max-content;
    border-radius: 5px;
    position: relative;
    margin: -60px 0px 0px -40px;
    height: 30px;
}
.feature-experience-box h1{
    font-size:25px;
    text-align: center;
    font-weight: 700;
    
}
.feature-experience-box p{
    font-size: 11px;
    font-weight: 500;
    text-align: center;
}

/* responsive styles */

/* Mobile devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;

    }

    .teams-container {
        flex-direction: column;
    }

    .teams-image-container {
        grid-template-columns: 1fr;
    }
    .features-container{
        flex-direction: column;
    }
    .feature-experience-box{
        padding: 10px 5px;
    }
    .features-content{
        align-self: center;
    }
}


/* Tablet or Medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;

    }

    nav {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column;
    }

    .teams-image-container {
        grid-template-columns: 1fr;
    }
    .features-container{
        flex-direction: column;
    }
    .feature-experience-box{
        padding: 20px 10px;
    }
    .features-content{
        align-self: center;
    }
}

